*{
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, ul, ol{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a{
    text-decoration: none;
}

body{
    /* colors */
    --neonGreen: #11FF00;
    --neonPink: #ff14d4;
    --neonYellow: #eaff00;
    --neonBlue: #00ffee;
    --bg: #030010;
    --text: #F1F1F1;
    --text2: #868686;

    background-color: var(--bg);
    color: var(--text);
    font-family: "Tsukimi Rounded", Helvetica, sans-serif;
    margin: auto;
}

.banner{
    font-family: "Neonderthaw", Impact, serif;
}

header{
    display: flex;
    flex-direction: column;
    margin: 0.1em 1.3em 1.8em;
    gap: 0;
}

.title{
    display: flex;
    gap: 0.5em;
    font-size: 2rem;
    align-items: last baseline;
}

.title .banner{
    display: flex;
    font-size: 6.8rem;
    color: var(--neonGreen);
    animation: flicker 8s infinite;
}

.subtitle{
    display: flex;
    gap: 0.3em;
    font-size: 1.6rem;
    justify-content: end;
    align-items: last baseline;
}

.subtitle .banner{
    display: flex;
    font-size: 3rem;
    color: var(--neonPink);
    animation: flicker 8s 3.7s infinite;
}

@keyframes flicker {
    0%{
        opacity: 100%;
    }
    12%{
        opacity: 100%;
    }
    14%{
        opacity: 20%;
    }
    20%{
        opacity: 100%;
    }
    30%{
        opacity: 100%;
    }
    32%{
        opacity: 70%;
    }
    36%{
        opacity: 100%;
    }
    45%{
        opacity: 100%
    }
    46%{
        opacity: 0%;
    }
    52%{
        opacity: 100%;
    }
    57%{
        opacity: 100%;
    }
    59%{
        opacity: 60%;
    }
    65%{
        opacity: 100%;
    }
    80%{
        opacity: 100%;
    }
    82%{
        opacity: 70%;
    }
    85%{
        opacity: 100%;
    }
    90%{
        opacity: 100%;
    }
    91%{
        opacity: 0%;
    }
    94%{
        opacity: 100%;
    }
}

main{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

section{
    border: 2px solid var(--text);
    border-radius: 2em;
    padding: 1.7em;
    flex-grow: 1;
    min-width: 20em;
    max-width: 30em;
    transition: all 0.5s ease-out;
}

.one:hover{
    border: 2px groove var(--neonYellow);
    box-shadow: 0px 0px 3px var(--neonYellow), 0px 0px 3px var(--neonYellow) inset;
}

.two:hover{
    border: 2px groove var(--neonGreen);
    box-shadow: 0px 0px 3px var(--neonGreen), 0px 0px 3px var(--neonGreen) inset;
}

.three:hover{
    border: 2px groove var(--neonBlue);
    box-shadow: 0px 0px 3px var(--neonBlue), 0px 0px 3px var(--neonBlue) inset;
}

.four:hover{
    border: 2px groove var(--neonPink);
    box-shadow: 0px 0px 3px var(--neonPink), 0px 0px 3px var(--neonPink) inset;
}

h2{
    margin-bottom: 1em;
}

li{
    margin-bottom: 1em;
}

li:last-child{    
    margin-bottom: 0;
}

a{
    color: var(--text2);
    transition: all 0.3s ease;
}

.one a:hover{
    color: var(--neonYellow);
    text-shadow: 0px 0px 2px var(--neonYellow);
}

.two a:hover{
    color: var(--neonGreen);
    text-shadow: 0px 0px 2px var(--neonGreen);
}

.three a:hover{
    color: var(--neonBlue);
    text-shadow: 0px 0px 2px var(--neonBlue);
}

.four a:hover{
    color: var(--neonPink);
    text-shadow: 0px 0px 2px var(--neonPink);
}

footer{
    text-align: end;
    margin: 2em 1em 1.5em 0;
    transition: all 0.3s ease;
}

footer a:hover{
    color: var(--neonGreen);
    text-shadow: 0px 0px 1.8px var(--neonGreen);
}

@media screen and (min-width:700px) {
    body{
        max-width: 80%;
    }

    header, main{
        flex-direction: row;
    }

    header{
        gap: 2em;
        align-items: last baseline;
    }

    main{
        gap: 2%;
    }
    
    section{
        min-width: 1em;
        max-width: 20em;    
        padding: 2.8%;
    }
}