/* resets */

*{
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, ul, ol{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a{
    text-decoration: none;
}

/* base style */

body{
        /*colors*/
        --neon: #00FF00;
        --redPen: #AC0000;
        --bluePen: #00066F;
        --pencil: #62626222;
        --paper: #F5F5F5;
        --paperLine: rgba(23,109,185,.66);
        --spiral: #C6C6C6;
        --postIt: #FFFF43;
        --tape: #F7F7F7;
            /* note: opacity is 58% */
        --darkBg: #050505;
        --lightBg: #7c3f2c;
        --whiteOut: rgba(255,255,255,.9);

        background-color: var(--darkBg);
        font-family: "Shadows Into Light Two", serif;
        font-weight: 400;
        font-style: normal;
        color:var(--bluePen);}

main{
    display: flex;
}

header{
    display: flex;
    justify-content: center;
    gap: 1em;
}

h1{
    font-family: "Tilt Neon", Impact, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--neon);
    font-size: 4.3rem;
    text-shadow: 0px 0px 6px var(--neon);
}

h2{
    font-family: "Oooh Baby", serif;
    /* font-weight: 800; */
    font-style: normal;
    color: var(--redPen);
    background-color: var(--whiteOut);
    font-size: 2.7rem;
    align-self: flex-end;
}
/* 
h3, p, label, .nav{
    font-family: "Shadows Into Light Two", serif;
    font-weight: 400;
    font-style: normal;
    color:var(--bluePen);
} */

input{
    font-family: "Shadows Into Light Two", serif;
    font-weight: 400;
    font-style: normal;
    color:var(--pencil);
}

aside{
    display: none;
}

#postIt{
    background-color: var(--postIt);
}

.tape{
    background-color: var(--tape);
}

section{
    background-color: var(--paper);
    margin: 2em 5em;
    padding:1em;
}

.nav{
    cursor: pointer;
    text-align: right;
}

label{
    display: block;
    margin-left: 1em;
}

input{
    display: inline;
    margin-left: 1em;
}

input[type="submit"] {
    color: var(--bluePen);
    border: 0;
    background-color: transparent;
}

.pg1{
    /* display: none; */
}

.pg2{
    display: none;
}

.pg3{
    display: none;
}

@media screen and (min-width:800px) {
    aside{
        display: block;
        flex: 1;
        position: relative;
    }

    section{
        flex: 1;
    }

    #postIt{
        width:10em;
        padding:1.3em;
        padding-top: 2em;
        position: absolute;
        left: 15em;
        bottom: 15em;
        rotate: -28deg;

    }

    .tape{
        width: 2em;
        height:3em;
        opacity: .62;
        position: absolute;
        top: -1.5em;
        left: 3.7em;
    }
}