*{
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, ul, ol{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a{
    text-decoration: none;
}

body{
    --bg: #9FE0EA;
    --blacktop: #565656;
    --lightTxt: #fff;
    --ball: #FF8F39;
    --dots: #000000;
    --poll: #ADADAD;
    --square: #FF3A3A;
    background-color: var(--bg);
    font-family: "Gantari", sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem;
}

h1{
    font-family: "Rock Salt", cursive;
    font-size: 3rem;
    color:var(--lightTxt);
    background-color: var(--blacktop);
    margin-bottom: 1rem;
}

.desc{
    color:var(--lightTxt);
    background-color: var(--blacktop);
    max-width: 25rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score{
    margin: 0.5em;
    width: 50%;
}

#score h2{
    padding-bottom: 1em;
}

#dice div{
    background-color: var(--blacktop);
    border: var(--lightTxt) solid 3px;
    max-width: 15rem;
    min-width: 15rem;
}

#dice div:first-child{
    border-radius: 10em 10em 0 0;
    height: 6rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#dice h2{
    font-family: "Rock Salt", cursive;
    color:var(--lightTxt);
    margin-bottom: 1rem;
}

#dice div:last-child{
    border-top: 0;
}

.p1, .p2{
    display: flex;
    gap: 2em;
    justify-content: center;
    padding: 2rem 5rem;
}

#dice img{
    max-width: 5rem;
}

#basket img{
    max-height: 35rem;
}


@media screen and (min-width:700px) {
    
    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #score{
        margin-left: 45%;
    }

}