/* resets */
*{
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, ul, ol{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a{
    text-decoration: none;
}

/* Start https://www.cursors-4u.com */ 
* {
    cursor: url(https://cur.cursors-4u.net/games/gam-11/gam1070.ani), url(https://cur.cursors-4u.net/games/gam-11/gam1070.png), auto !important;
}

.clickable{
    cursor: url(https://cur.cursors-4u.net/symbols/sym-2/sym169.cur), auto !important;
}

/* End https://www.cursors-4u.com */

/* style */

body{
    margin: auto;
    background-color: #F1F1F1;
    color: #030010;
    height: 100%;
    overflow: hidden;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-image: url("images/sceneV1croppedExtended.jpg");
}

#bodyImg{
    position: relative;
    margin: auto;
    width: 100%;
}

#hotspots div{
    position: absolute;
    width: 5rem;
    height: 5rem;
}

#bodyImg img{
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 2.5s ease;
}

.fullview{
    width: 100%;
    max-width: 1250px;
    left: 50%;
    transform: translate(-50%, 0);
}

div#heading{
    position: absolute;
    width: 80%;
    height: auto;
    margin-left: 10%;
}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Chiller', 'Courier New', Courier, monospace;
    font-size: 4.5rem;
    margin-top: 2rem;
}

header div.subtitle{
    font-size: 1.1rem;
    margin-top: 0rem;
    text-align: center;
}

#center{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* #skeleton{
    top: 12rem;
    left: 9rem;
}

#hefty{
    top: 20rem;
    left: 2rem;
}

#erasers{
    top: 31rem;
    left: 3rem;
}

#dreidel{
    top: 31rem;
    left: 15rem;
}

#phantom{
    top: 18rem;
    left: 20rem;
}

#deskDragon{
    top: 15rem;
    right: 15rem;
}

#shrek{
    bottom: 20rem;
    right: 20rem;
}

#lizard{
    bottom: 8rem;
    right: 12rem;
}

#toad{
    top: 10rem;
    right: 1rem;
}

#babyBear{
    bottom: 12rem;
    left: 35rem;
} */

.skeleton, .hefty, .erasers, .dreidel, .phantom, .deskDragon, .shrek, .lizard, .toad, .babyBear{
    width: 180rem;
    max-width: 180rem;
}

.skeleton{
    top: -10rem;
    left: 0rem;
}

.overlay{
    display: none;
    position: absolute;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    overflow-y: scroll;
}

.overlay.left{
    top: 20%;
    right: 10%;
    width: 30vw;
    height: 60vh;
}

.overlay.right{
    top: 20%;
    left: 10%;
    width: 30vw;
    height: 60vh;
}

.back{
    margin: 0;
    padding: 0;
    border:none;
    outline: none;
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: tomato;
    font-size: 36px;
    cursor: pointer;
}

@media screen and (min-width: 1350px){
    /* img.fullview{
        height: 100%;
        margin: auto;
    } */
}